<block-ui>
    <app-sidebar></app-sidebar>
    <div style="margin-left: 20px; margin-right: 20px;">
        <h1>{{titulo}}</h1>
            <form action="" [formGroup]="formCliente" (ngSubmit)="saveCliente()">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" id="nombre">
                    </div>
                    <div class="col-sm-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="tipo">Tipo de persona</label>
                        <select class="form-control" formControlName="tipo" id="tipo">
                            <option value="Persona Fisica">Persona Fisica</option>
                            <option value="Persona Juridica">Persona Juridica
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="identificacion">Identificacion</label>
                        <input type="text" class="form-control" formControlName="identificacion" id="identificacion">
                    </div>
                </div>
                <div class="person-information-container">
                    <label>Contacto</label>
                    <a (click)="open(contactModal)"  
                         class="fa fa fa-plus"
                         ngbPopover="Agregar contacto" 
                         triggers="mouseenter:mouseleave" 
                         style="font-size: 32px; color: blue; cursor: pointer; padding-left:10px;" ></a>
                    <div>
                        <ul class="list-group" *ngIf="!getFormControl('contactos').errors">
                            <li class="list-group-item d-flex justify-content-between"
                                *ngFor="let contacto of getFormControl('contactos').value; let index = index">
                                {{contacto.contacto}}
                                <div>
                                    <a  (click)="setEditContact(index, contactModal)"  
                                    class="fa fa-pencil-square-o"
                                    data-toggle="modal"
                                    data-target="#contactModal" 
                                    ngbPopover="Editar" 
                                    triggers="mouseenter:mouseleave"  
                                    style="font-size: 32px; color: red; cursor: pointer; padding-left:10px;" ></a>
    
                                    <a  (click)="deleteContact(index)"
                                    class="fa fa-trash-o"
                                    ngbPopover="Eliminar" 
                                    triggers="mouseenter:mouseleave"  
                                    style="font-size: 32px; color:  red; cursor: pointer; padding-left:10px;" ></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="getFormControl('contactos').errors">
                        <div *ngIf="!getFormControl('contactos').errors.validateList">
                            <p class="invalid-feedback">Faltan Contacton</p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formCliente.invalid"
                                    data-dismiss="modal">Guardar</button>
            </form>
    
    
    
    
    <!-- // Ventana modal         -->
            <ng-template #contactModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Mantenimiento de Contacto</h5>
                    
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form action="" class="form" [formGroup]="formContacto" (ngSubmit)="saveContact(modal)">
                          <div class="form-group">
                              <input type="text" class="form-control" formControlName="contactoDescription" [ngClass]="{
                                  'is-invalid':getContactoControl('contactoDescription').invalid,
                                  'is-valid':getContactoControl('contactoDescription').valid}">
                              <div class="invalid-feedback" *ngIf="getContactoControl('contactoDescription').invalid">
                                  Contacto requerido
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-primary" [disabled]="formContacto.invalid"
                                  data-dismiss="modal">Guardar</button>
                          </div>
                      </form>
                  </div>
              </ng-template>
        <!-- </div> -->
    </div>
</block-ui>





