<block-ui>
    <app-sidebar></app-sidebar>
    <div style="margin-left: 20px; margin-right: 20px;">
        <h2>Estudio de Riesgos</h2>
        <form action="" [formGroup]="formRiesgos" (ngSubmit)="saveRiesgos()">
            <div class="form-group">
                <label for="obserZona">Observacion de la zona</label>
                <textarea 
                    class="form-control" 
                    formControlName="obserZona" 
                    id="obserZona" 
                    [ngClass]="{'is-invalid': getFormControl('obserZona').touched 
                               && getFormControl('obserZona').errors,
                               'is-valid': getFormControl('obserZona').valid }">
                </textarea>
                <div *ngIf="getFormControl('obserZona').errors?.required" class=" form-control-feedback text-danger invalid-feedback">
                    * El Detalle de tipo de suelo es requerido
                </div>  
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input form-control"  id="zonaRiesgo" formControlName="zonaRiesgo">
                <label class="custom-control-label" for="zonaRiesgo" >Estado del estudio</label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input form-control"  id="estado" formControlName="estado">
                <label class="custom-control-label" for="estado" >Estado del estudio</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formRiesgos.invalid">Guardar</button>
        </form>
    </div>
</block-ui>