<div class="container">
    <div>
        <h2>Estudio Ambiental</h2>
        <form action="" [formGroup]="formAmbiental" (ngSubmit)="saveAmbiental()">
            <div class="form-group">
                <label for="especieAnimal">Especies animales protegidas en el àrea</label>
                <textarea class="form-control" formControlName="especieAnimal" id="especieAnimal"></textarea>
            </div>
            <div class="form-group">
                <label for="especieVegetal">Especies vegetales protegidas en el àrea</label>
                <textarea class="form-control" formControlName="especieVegetal" id="especieVegetal"></textarea>
            </div>
            <div class="form-group">
                <label for="obserLimitrofes">Observaciones limitrofes de la propiedad</label>
                <textarea class="form-control" formControlName="obserLimitrofes" id="obserLimitrofes"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="estado" id="estado">
                <label for="estado" class="form-check-label">Estado del estudio</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formAmbiental.invalid">Guardar</button>
        </form>
    </div>
</div>