<app-sidebar></app-sidebar>
<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-9"> 
        <h1>Mantenimiento de Clientes</h1>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" (click)="ModificarCrearNuevoCliente(0)"> Nuevo </button>
    </div>
    <div class="col-sm-1"> </div>
</div>
<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-10"> 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">nombre</th>
                <th scope="col">identificacion</th>
                <th scope="col">tipo</th>
                <th scope="col">opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of listaClientes;">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.identificacion}}</td>
                <td>{{cliente.tipo}}</td>
                <td>
                    <button class="btn btn-warning" (click)="ModificarCrearNuevoCliente(cliente.id)" style="margin: 3px;" >Edit</button>
                    <button class="btn btn-danger"  (click)="deleteCliente(cliente.id)" style="margin: 3px;">Del </button>
                </td>
              </tr>
            </tbody>    
          </table>
    </div>
    <div class="col-sm-1"> </div>
</div>