<block-ui>
    <div style="margin-left: 20px; margin-right: 20px;">
        <h1>{{titulo}}</h1>
        <form action="" [formGroup]="formTramite" (ngSubmit)="saveTramite()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" 
                class="form-control" 
                formControlName="nombre" 
                id="nombre"
                [ngClass]="{'is-invalid': getFormControl('nombre').touched 
                    && getFormControl('nombre').errors,
                    'is-valid': getFormControl('nombre').valid }">
              <div *ngIf="getFormControl('nombre').errors?.required"
                  class=" form-control-feedback text-danger invalid-feedback">
                  * El Nombre del tramite es requerida
              </div>
            </div>
            <div class="form-group">
                <label for="costo">Costo</label>
                <input type="number" 
                class="form-control" 
                formControlName="costo" 
                id="costo"
                [ngClass]="{'is-invalid': getFormControl('costo').touched 
                    && getFormControl('costo').errors,
                    'is-valid': getFormControl('costo').valid }">
              <div *ngIf="getFormControl('costo').errors?.required"
                  class=" form-control-feedback text-danger invalid-feedback">
                  * El Costo del tramine es requerida
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="formTramite.invalid"
                                data-dismiss="modal">Guardar</button>
        </form>   
    </div>
</block-ui>

