<div class="container">
    <div>
        <h2>Estudio Legal</h2>
        <form action="" [formGroup]="formLegal" (ngSubmit)="saveLegal()">
            <div class="form-group">
                <label for="demandas">Demandas</label>
                <textarea class="form-control" formControlName="demandas" id="demandas"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="estado" id="estado">
                <label for="estado" class="form-check-label">Estado del estudio</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formLegal.invalid">Guardar</button>
        </form>
    </div>
</div>