<div class="container">
    <div>
        <h2>Estudio Tributario</h2>
        <form action="" [formGroup]="formTributario" (ngSubmit)="saveTributario()">
            <div class="form-group">
                <label for="deuda">Deudas</label>
                <textarea class="form-control" formControlName="deuda" id="deuda"></textarea>
            </div>
            <div class="form-group">
                <label for="impuestos">Evasion de impuestos</label>
                <textarea class="form-control" formControlName="impuestos" id="impuestos"></textarea>
            </div>
            <div class="form-group">
                <label for="hipotecas">Hipotecas</label>
                <textarea class="form-control" formControlName="hipotecas" id="hipotecas"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" formControlName="estado" id="estado">
                <label for="estado" class="form-check-label">Estado del estudio</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formTributario.invalid">Guardar</button>
        </form>
    </div>
</div>