
.login-form{width:390px;margin-top:100px;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color:black;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}